:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}
*{
  padding: 0;
  margin: 0;
}
html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

.flicker-animation {
  box-shadow: inset 0 0 100px rgba(0, 0, 0, 0.5);
  animation: flicker 0.04s infinite;
}



@keyframes flicker {
  0% {
    opacity: 1;
  }

  45% {
    opacity: 0.9;
  }

  55% {
    opacity: 0.9;
  }

  100% {
    opacity: 1;
  }
}






#tooltip {
  height: 100vh;
  color:white;
  line-height: 1.2em;
  margin: 0;
}

#tooltip img{
  max-width: 100%; 
  max-height: 50vh;
  margin:auto;
}

#tooltip iframe{
  max-width: 100%; 
  max-height: 50vh;
  margin:auto;
}
#tooltip ul{
  list-style:none;
  margin:0;
  padding:0;
}
#tooltip li {
  list-style: none;
  text-align: left;
}

#top-left-search {
  position: absolute;
}
.wideButton{
  width: 200px;
  margin:auto;
}
#searchbar {
  width: 300px;
  border-radius: 5px;
  border: none;
  padding: 5px;
  font-size: 1.5em;
}

.search-result {}

.dropdown-value {
  max-width: 300px;
  color: black;
  background-color: white;
  text-align: left;
  border-radius: 5px;
  padding: 5px;
  margin: 2px;
  list-style: none;
}

.selected-dropdown-value {
  max-width: 300px;
  color: black;
  background-color: rgb(125, 125, 125);
  text-align: left;
  border-radius: 5px;
  padding: 5px;
  margin: 2px;
  list-style: none;
}

.dropdown-value:hover {
  background-color: lightgrey;
  cursor: pointer;
}

#dropdown-list {
  padding: 0;
  margin: 0;
}
